.twit-wrap {
  width: 600px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
}

.twit-wrap:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.twit-main {
  padding-left: 20px;
}

.twit-username {
  margin: 0 0 10px 0;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
}

.twit-text {
  margin: 0 0 10px 0;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 150%;
  text-align: justify;
}

.twit-avatar {
  width: 50px;
  height: 50px;
  border-radius: 60%;
}

.twit-bottom {
  width: 50%;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  svg {
    width: 19px;
    height: 19px;
    fill: #666666;
  }

  span {
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #666666;
  }

  .twit-comment-wrap:hover {

    svg {
      fill: #1d9bf1;
    }

    span {
      color: #1d9bf1;
    }
  }

  .twit-retwit-wrap:hover {

    svg {
      fill: #33cc33;
    }

    span {
      color: #33cc33;
    }
  }

  .twit-like-wrap:hover {

    svg {
      fill: #ff3333;
    }

    span {
      color: #ff3333;
    }
  }
}