@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@media screen and (min-width: 1024px) {
  @import './feed.scss';
  @import './navigation.scss';
  @import './profile.scss';
  @import './sidebar.scss';
  @import './twit.scss';
  @import './createTwit.scss';

  body {
    margin: 0;
  }
  
  #root {
    display: flex;
  }

  #left-fixed-wrap {
    width: 25vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  #right-fixed-wrap {
    position: relative;
    display: flex;
  }
}