.modal-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(38, 38, 38, 0.5);
}

.modal {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 20px 1fr;
  background-color: #ffffff;
  opacity: 1;
}

.close-modal {
  width: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.close-modal:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

#create-twit-wrap {
  display: flex;
}

#create-twit-avatar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #737373;
}

#textarea {
  border: none;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  resize: none;
  font-family: 'Roboto';
  font-size: 20px;
}

#textarea:focus-visible {
  outline: none;
}

#submit-btn {
  width: 110px;
  height: 50px;
  border: none;
  border-radius: 9999px;
  background-color: #1d9bf0;
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}

#submit-btn:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.auth-wrap, .reg-wrap {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-text, .reg-text {
  margin: 0;
  font-family: 'Roboto';
  text-align: center;
}

.auth-link, .reg-link {
  color: #1d9bf0;
  text-decoration: underline;
  text-decoration-color: #1d9bf0;
  text-decoration-style: dotted;
  cursor: pointer;
}

.auth-email, .auth-password, .reg-email, .reg-password {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 20px;
}

.auth-email:focus-visible, .auth-password:focus-visible, .reg-email:focus-visible, .reg-password:focus-visible {
  outline-color: #1d9bf0;
}

.auth-submit, .reg-submit {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 9999px;
  background-color: #1d9bf0;
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

.auth-submit:hover, .reg-submit:hover {
  background-color: #0b69a8;
}