@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './navigation/navigation.scss';
@import './messages/messages.scss';
@import './feed/feed.scss';
@import './chat/chat.scss';
@import './profile/profile.scss';
@import './sidebar/sidebar.scss';

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  display: flex;
}