#navigation {
  width: 250px;
  border-right: 1px solid #e6e6e6;
}

#twi-logo-wrap {
  width: 30px;
  height: 30px;
  margin: 16px;
  fill: #1d9bf0;
}

.link {
  text-decoration: none;
}

nav {
  span {
    font-family: 'Roboto';
    font-size: 20px;
    color: #000000;
  }
}

.nav-icons {
  width: 30px;
  height: 30px;
}

.nav-items-wrap {
  display: inline-flex;
  align-items: center;
  padding: 16px;
}

.nav-items-wrap:hover {
  border-radius: 9999px;
  background-color: #bfbfbf;
}

.nav-span-wrap {
  padding: 0 18px 0 18px;
}

#create-twit-btn {
  width: 90%;
  height: 62px;
  margin-top: 20px;
  border: none;
  border-radius: 9999px;
  background-color: #1d9bf0;
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}

#create-twit-btn:hover {
  cursor: pointer;
  background-color: #0b69a8;
} 